<script type="text/javascript">
    top.$('body').removeClass('noClinicalTemplates');
    top.jQuery.fx.off = false;
    top.$('#ezydesk').show();
    top.$('#changepassword').hide();
    top.$('#login').hide();
    top.$('#userdata_login').html({{ user_name | tojson | safe }});
    top.$('#user_img').attr('src', 'media/images/').attr('alt', {{ display_name | tojson | safe }});
    enableconfirm='yes';   

    if (!top.$('#mainmenu').html().trim() || top.newlogin == 1) {
        top.refresh_jax('#mainmenu', null, true);
    }
    if (!top.$('#siteDetails').html().trim() || top.newlogin == 1) {
        top.refresh_jax('.siteDetails', null, true);
    }
    if (top.newlogin == 1) {
        top.newlogin = 0;
        layout();
        panels();
    }
    top.popupnewtab = '';
</script>
<script type="text/javascript">top.tab=1;top.theDateFormat='mm-dd-yy';</script>
<div class="footerdev">
    <img title="Remote Support" src="/media/images/customerpanel.png" href="javascript:void(0);" onclick="window.open('http://download.anydesk.com/AnyDesk.exe','_blank');" />
    <img title="Duplicate Id Check" src="/media/images/error.png" href="javascript:void(0);" onclick="$('[id]').each(function(){
          var ids = $('[id=&quot;'+this.id+'&quot;]');
          if(ids.length>1 && ids[0]==this)
            debug('Multiple IDs #'+this.id);
        });return false;">
    <img title="Lockdown" src="/media/images/permission.png" href="javascript:void(0);" onclick="lockdown(true);" />
</div>

<ul>
</ul>

{% include "update-tab-activity.html" %}
