            <script type="text/javascript">top.tab=1;top.theDateFormat='mm-dd-yy';</script>
    
<h2>Add Attachment(s)</h2>
        <div id="attachmentdropzone1" class="attachmentdropzone" title="Drag Files To Attach Here" style="min-height: 160px;">
            <div style="font-size: 128px;" class="attachmentcloud big"><span class="icon-cloud-upload3"></span></div>
                    </div>
        <input type="hidden" id="attachmentToUpload1" type="file" name="files[]" data-url="File/UploadAttachment" multiple>
        <script>
            $(document).ready(
            function () {
                var attachment = $('#attachmentToUpload1');
                $(attachment).fileupload({
                    dataType: 'json',
                    formData:  {"forClass":"Animal","forId":"14725"},
                    dropZone: $('#attachmentdropzone1'),
                    pasteZone: $('#attachments1'), //This took way too fucking long to debug. Refer to wiki above.
                    maxFileSize: 16000000,
                    done: function (e, data) {
                        top.msg('File Uploaded Successfully','3000','success');
                        top.refresh_jax('.attachments');
                                                /*
                        $.each(data.result, function (index, file) {
                            $('<p/>').text(file.name).appendTo(document.body);
                        });
                        */
                    },
                    fail: function (e, data) {
                        top.msg('Upload Failed.'+data.errorThrown,'','error');
                        top.refresh_jax('.attachments');
                    },
//                    progress: function (e, data) {
//                        console.log(data);
//                    }
                });

                $(document).bind('dragover', function (e) {
                    var dropZone = $('.attachmentdropzone'),
                        timeout = window.dropZoneTimeout;
                    if (!timeout) {
                        dropZone.addClass('in');
                    } else {
                        clearTimeout(timeout);
                    }
                    var found = false,
                        node = e.target;
                    do {
                        if (node === dropZone[0]) {
                            found = true;
                            break;
                        }
                        node = node.parentNode;
                    } while (node != null);
                    if (found) {
                        dropZone.addClass('hover');
                    } else {
                        dropZone.removeClass('hover');
                    }
                    window.dropZoneTimeout = setTimeout(function () {
                        window.dropZoneTimeout = null;
                        dropZone.removeClass('in hover');
                    }, 100);
                });
            });
        </script>
        <br class="clear"/>
<div id="attachmentsToSubmit1" >
<table cellpadding="2" cellspacing="0" style="max-width:285px; " id="files1">
    <thead>
        <tr><th style="text-align:left;">Add Files (Max 50MB each) </th><th>
        </th></tr>
    </thead>
    <script type="text/javascript" >
        $('#add-attachmentLine1').off('click').on('click', function( e ) {
            $(this).trigger('addRow');
        });
    </script>
    <tbody>
                <tr id="attachment-row1_1" row="1">
            <td><input style="float:left;border:none;padding:1px;height:auto !important;" type="file" name="files[]" id="filesSelector1-1"
                       data-url="File/UploadAttachment"
                       data-sequential-uploads="true"
                       data-form-data='{"forClass": "Animal", "forId": "14725", "selected": "true"}'
                /></td>
            <td>
                            </td>
            <input type="hidden" value="0" id="uploadAttachment1_1" />
        </tr>
        <script>
                        $(document).ready(
                function () {
                    $('#filesSelector1-1').fileupload({
                        dataType: 'json',
                        autoUpload: false, //dont make it upload instantly once selected, but can get it to upload on the input change
                        done: function (e, data) {
                            top.msg('File Uploaded Successfully', '3000', 'success');
                                                    },
                        fail: function (e, data) {
                            top.msg('Upload Failed.' + data.errorThrown, '', 'error');
                        },
                        always: function (e, data) {
                            $('#filesSelector1-1').fileupload('destroy');
                            top.refresh_jax('.attachments');
                        },
                        add: function (e, data) {
                            if ($('#uploadAttachment1_1').val() === data.files[0].name) {
                                $('#uploadAttachment1_1').val(0);
                                data.submit();
                            }
                        },
                        change: function (e, data) {
                            // stupid hax to not get it sending when file is put into dropzone
                            $('#uploadAttachment1_1').val(data.files[0].name);
                        }
                    });

                });
                    </script>
            </tbody>
</table>
<br />
<script type="text/javascript">
    $('#files1').off('addRow').on('addRow',function( e ) {
        var lastRow = $('tr:last',this).first();
        var row = parseInt(lastRow.attr('row'));
        if(isNaN(row)) { row = 1; }
        var newrow = row+1;
        //get the last row start date and end date
        jaxnew('core/main/_attachmentTableLine.php', {
            args:'row='+newrow+'&onSubmit=true&popupformtab=1&forclass=Animal&forid=14725',
            noblock:false,
            target:lastRow.attr('id'),
            callback: function(){
                $('#files1').arrowfy({
                    addRowFunction:function( callback ) {
                        $('#files1').trigger('addRow',[callback]);
                    }
                });
            },
            how:'after'} );
    }).arrowfy({
        addRowFunction:function( callback ) {
            $('#files1').trigger('addRow',[callback]);
        }
    });
</script><!-- dont need this for now as it will upload once selected
<input type="button" class="button" value="Save Attachments" name="saveAttachmentsButton" id="saveAttachmentsButton"/>
-->
<br /><br />
</div>
<div class="inputSection " style="width:800px; max-width: 800px;">
            <div class="inputSectionTitle" >
                Attachments (<span class="7d79a1ba5df569e21541b03c06f14f12-1-counter">&nbsp;{{ all_attachments | length }}&nbsp;</span>)
                                <div class="clear"><!-- --></div>
            </div>  
            <div class="inputSectionContent" style="">
                            <div id="Container_7d79a1ba5df569e21541b03c06f14f12-1" 
                class="attachmentsList FileList"
                style="">
                                {% include "table-content.html" %}
                            </div>  
        </div>
        
<br class="clear"/>
<div class="documents" id="documents1">
<div class="inputSection " style="width:800px; max-width: 800px;">
            <div class="inputSectionTitle" >
                                <div class="addButton clickable" id="ee3917e143f8793c687e8bd8efe55b5a-13135e1cfb6024f23c48e66860e213a7b1" >
                                <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon icon-plus8'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

                                <div class="clear"></div>                        
                </div>
                <script type="text/javascript">
                    $('#ee3917e143f8793c687e8bd8efe55b5a-13135e1cfb6024f23c48e66860e213a7b1').parent('.inputSectionTitle').find('.addButton').off( 'click' ).on( 'click' , function() { 
                    top.newtab(' New Document','document','document.png','/General/OpenTabRecord',false,'document_id=&amp;recordClass=Document&amp;recordId=&amp;document_user=53&amp;documentdata_user=53&amp;documentdata_active=1&amp;documentdata_accesspermissions=777&amp;document_time=1520478901&amp;documentdata_time=1520478901&amp;documentdata_timestamp=1520478901&amp;documentdata_forclass=Animal&amp;documentdata_forid=14725&amp;refreshElements%5B0%5D=%23documentLists1',false);                    } );
                </script> 
                                Created Documents (<span class="ee3917e143f8793c687e8bd8efe55b5a-1-counter">&nbsp;0&nbsp;</span>)
                                <div class="clear"><!-- --></div>
            </div>  
            <div class="inputSectionContent" style="">
                            <div id="documentLists1" 
                class="documentLists DocumentList"
                style="">
                <h4 style="margin-top:0px;">No Results</h4><script>$('.ee3917e143f8793c687e8bd8efe55b5a-1-counter').html('&nbsp;0&nbsp;');</script>            </div>
                        <script type="text/javascript">
                top.jaxnew_Attach('/General/TableContent',
                    {
                        // HELLO WORLD hello world
                        'args':'tab=1&amp;options=eyJoZWxsbyI6ICJ3b3JsZCJ9',
                        'target':'documentLists1',
                        'post':true
                    }
                );
            </script>
                            </div>  
        </div>
        <br class="clear"/>
</div>
<script type="text/javascript">
    top.jax_attach('modules/document/list-documents.php','s=90941215&amp;request_time=1520478901401&amp;last_active_time=1520478887103&amp;win_id=001cd19c99299ae4a0e63d978fcd74bc&amp;forid=14725&amp;forclass=Animal&amp;fortype=animal&amp;clinicid=vsvhwvc&amp;tabActivity=%7B%22lastActiveTime%22%3A1520478887103%2C%22loggedIn%22%3A1%2C%22version%22%3A%2222.10.9%22%2C%22refreshBrowserCheckTime%22%3A0%2C%22currentTime%22%3A1520478901401%2C%22calendarVisible%22%3A0%2C%22win_id%22%3A%22001cd19c99299ae4a0e63d978fcd74bc%22%2C%22tabVisible%22%3A%22visible%22%2C%22loggedInConflict%22%3Afalse%2C%22noUpdateLast%22%3Atrue%2C%22lastUpdate%22%3A%221520474506%22%2C%22updateFooter%22%3Afalse%2C%22updateCalendar%22%3Afalse%2C%22lockedDown%22%3A0%2C%22activeWinId%22%3A%22001cd19c99299ae4a0e63d978fcd74bc%22%7D&amp;clientcontact_id=581&amp;tab=1&amp;_ezyhost=vsvhwvc.usw2.ezyvet.com','documents1');
//    top.$('#saveAttachmentsButton//').off('click').on('click',function() {
//        //jaxnew('File/UploadAttachment', getPostWithinString('#attachmentsToSubmit<?//= "";//Setting::getTab(); ?>//'));
//
//    })

</script>
{% include "update-tab-activity.html" %}
