            <script type="text/javascript">top.tab=1;top.theDateFormat='mm-dd-yy';</script>
    
<script>

plainkeys = (typeof plainkeys !== 'undefined' && plainkeys.length > 0) ? plainkeys : {};
shiftkeys = (typeof shiftkeys !== 'undefined' && shiftkeys.length > 0) ? shiftkeys : {};
ctrlshiftkeys = (typeof ctrlshiftkeys !== 'undefined' && ctrlshiftkeys.length > 0) ? ctrlshiftkeys : {};

ctrlshiftkeys[49]="$('#dashboard .action').click();";
ctrlshiftkeys[50]="$('#contacts .action').click();";
ctrlshiftkeys[52]="$('#financial .action').click();";
ctrlshiftkeys[53]="$('#reporting .action').click();";
ctrlshiftkeys[54]="$('#admin .action').click();";
ctrlshiftkeys[65]="newtab('New Appointment','dashboard','time.png','General/OpenTabRecord',1,'recordClass=Appointment');";
ctrlshiftkeys[73]="top.newtab('New Invoice','financial','invoice.png','/General/OpenTabRecord',false,'invoice_id=&amp;recordClass=Invoice&amp;recordId=&amp;invoice_user=53&amp;invoicedata_user=53&amp;invoicedata_active=1&amp;invoicedata_accesspermissions=777&amp;invoicedata_date=1520051627&amp;invoicedata_duedate=1520051627&amp;invoicedata_sent=0&amp;invoicedata_roundingaccount=&amp;invoicedata_freightaccount=&amp;invoicedata_gstaccount=&amp;invoicedata_freightgstrate=0&amp;invoicedata_locked=0&amp;invoicedata_incgst=1&amp;invoice_time=1520051627&amp;invoicedata_time=1520051627&amp;invoicedata_osr_ownership=6&amp;',false);";
ctrlshiftkeys[80]="newtab('New Product','admin','product.png','General/OpenTabRecord','1','recordClass=Product&amp;recordId=');";
ctrlshiftkeys[71]="newtab('New Product Group','admin','productgroup.png','General/OpenTabRecord','1','recordClass=ProductGroup&amp;recordId=');";
//ctrlshiftkeys[83]="newtab('New Supplier','admin','contact.png','General/OpenTabRecord','1','recordClass=Contact&amp;selection=3');";
ctrlshiftkeys[72]="newtab('Help','help','help.png','core/help/help.php','1','');";
ctrlshiftkeys[77]="top.newtab('New Memo','dashboard','memo.png','/General/OpenTabRecord',false,'memo_id=&amp;recordClass=Memo&amp;recordId=&amp;memodata_fromuser=53&amp;memo_user=53&amp;memo_time=1520051627&amp;memodata_user=53&amp;memodata_time=1520051627&amp;',false);";//M

ctrlshiftkeys[67]="top.newtab('','contacts','contact.png','/General/OpenTabRecord',false,'contact_id=&amp;recordClass=Contact&amp;recordId=&amp;contactdata_iscustomer=1&amp;contactdata_active=1&amp;contactdata_title=6&amp;contactdata_salesperson=53&amp;contactdata_chargeinterest=-1&amp;contactdata_usesystemdefaultinterestrate=1&amp;contactdata_postaladdressphysical=1&amp;contact_user=53&amp;contactdata_user=53&amp;contactdata_accesspermissions=777&amp;contact_time=1520051627&amp;contactdata_time=1520051627&amp;contactdata_osr_ownership=6&amp;',false);";//C
//ctrlshiftkeys[83]="newtab('Search','admin','search.png','core/main/search.php','1','');";//S
//ctrlshiftkeys[69]="newtab('Error Log','admin','errorlog.png','core/debug/errorlog.php','1','');";//E
ctrlshiftkeys[76]="lockdown();";//L

shiftkeys[27]="logout();";

document.onkeydown=keyListener;
</script>


                {% include "update-tab-activity.html" %}
                <script type="text/javascript">top.$('#siteDetails .userArea #userdata_name').qtip('destroy',true).qtip( {
	   content: {
             text: function(event, api) {
               return $.ajax({
                 url: 'User/UserMenu',
                 cache: false,
                 once: false,
                 type: 'POST'
               })
		       .then(function(content) {
			 // Set the tooltip content upon successful retrieval
			 return content;
		       }, function(xhr, status, error) {
			 // Upon failure... set the tooltip content to the status and error value
			 api.set('content.text', status + ': ' + error);
		       });
             }
	   },  
	   events: {
             show: function(event, api) {
               setTimeout(function(){
		 api.elements.tooltip.addClass('old');
               },1000);
             },
             hide: function(event, api) {
               api.elements.tooltip.removeClass('old')
             },
             //hide: function(){return false;}
	   },                         
	   position : {
             my: 'top right',  // Position my top left...
             at: 'bottom right', // at the bottom right of...
	   },
	   style: {
	     classes: 'popup_element higher-zindex',
	     width:'auto'
	   },
	   show: {
             solo: true,
             delay: 0,
             event: 'click',
             effect:false 
	   },
	   overwrite   : true,
	   hide: {
             effect:false,
             event: 'click'
	   },
	   render: {
             effect:false 
	   }
	 } );</script>
    
