            <script type="text/javascript">top.tab=1;top.theDateFormat='mm-dd-yy';</script>
                <div                class='item'                                id='dashboard'                                >            <span                class='action'                                id='DashboardSectionButton'                                >            <span                class='icon'                                                DisplayName="Patient"                >            <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon icofont-speed-meter icofont'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

            </span>

            
            <span                class='description'                                                                >Dashboard</span>

            </span>

                            <script type="text/javascript">
                    var ele = $('#dashboard .action'); ele.off('click').off('click').on('click', function() {
                            module('dashboard');$('#mainmenu .item').removeClass('selected');$('#mainmenu .item#dashboard').addClass('selected');setTimeout(function(){ $('#panes').trigger('closeSideBar',[false,true,true,true]); },100 );$('.separator').removeAttr('class').addClass('separator').addClass('dashboard');$('#toggleSidebarButton').removeAttr('class').addClass('display-none');return false;                        });                 </script>
                
            <span                class='ddmenu'                                                                ><i class="right icon-sort-down"></i></span>

            
            <div                class='bottomBit'                                                                ></div>

            </div>

                        <div                class='item'                                id='contacts'                                >            <span                class='action'                                id='ContactsSectionButton'                                >            <span                class='icon'                                                DisplayName="Patient"                >            <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon icofont-group icofont'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

            </span>

            
            <span                class='description'                                                                >Contacts</span>

            </span>

                            <script type="text/javascript">
                    var ele = $('#contacts .action'); ele.off('click').off('click').on('click', function() {
                            module('contacts');$('#mainmenu .item').removeClass('selected');$('#mainmenu .item#contacts').addClass('selected');setTimeout(function(){ updateSidebarVisibility(); },100);$('.separator').removeAttr('class').addClass('separator').addClass('contacts');$('#toggleSidebarButton').removeAttr('class').addClass('display-block');return false;                        });                 </script>
                
            <span                class='ddmenu'                                                                ><i class="right icon-sort-down"></i></span>

            
            <div                class='bottomBit'                                                                ></div>

            </div>

                        <div                class='item'                                id='animals'                                >            <span                class='action'                                id='AnimalsSectionButton'                                >            <span                class='icon'                                                DisplayName="Patient"                >            <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon icon-paw'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

            </span>

            
            <span                class='description'                                                                >Patients</span>

            </span>

                            <script type="text/javascript">
                    var ele = $('#animals .action'); ele.off('click').off('click').on('click', function() {
                            module('animals');$('#mainmenu .item').removeClass('selected');$('#mainmenu .item#animals').addClass('selected');setTimeout(function(){ updateSidebarVisibility(); },100);$('.separator').removeAttr('class').addClass('separator').addClass('animals');$('#toggleSidebarButton').removeAttr('class').addClass('display-block');return false;                        });                 </script>
                
            <span                class='ddmenu'                                                                ><i class="right icon-sort-down"></i></span>

            
            <div                class='bottomBit'                                                                ></div>

            </div>

                        <div                class='item'                                id='clinical'                                >            <span                class='action'                                id='ClinicalSectionButton'                                >            <span                class='icon'                                                DisplayName="Patient"                >            <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon icofont-medical-sign-alt icofont'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

            </span>

            
            <span                class='description'                                                                >Clinical</span>

            </span>

                            <script type="text/javascript">
                    var ele = $('#clinical .action'); ele.off('click').off('click').on('click', function() {
                            module('clinical');$('#mainmenu .item').removeClass('selected');$('#mainmenu .item#clinical').addClass('selected');setTimeout(function(){ updateSidebarVisibility(); },100);$('.separator').removeAttr('class').addClass('separator').addClass('clinical');$('#toggleSidebarButton').removeAttr('class').addClass('display-block');return false;                        });                 </script>
                
            <span                class='ddmenu'                                                                ><i class="right icon-sort-down"></i></span>

            
            <div                class='bottomBit'                                                                ></div>

            </div>

                        <div                class='item'                                id='financial'                                >            <span                class='action'                                id='FinancialSectionButton'                                >            <span                class='icon'                                                DisplayName="Patient"                >            <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon icofont-money icofont'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

            </span>

            
            <span                class='description'                                                                >Financial</span>

            </span>

                            <script type="text/javascript">
                    var ele = $('#financial .action'); ele.off('click').off('click').on('click', function() {
                            module('financial');$('#mainmenu .item').removeClass('selected');$('#mainmenu .item#financial').addClass('selected');setTimeout(function(){ updateSidebarVisibility() },100);$('.separator').removeAttr('class').addClass('separator').addClass('financial');$('#toggleSidebarButton').removeAttr('class').addClass('display-block');return false;                        });                 </script>
                
            <span                class='ddmenu'                                                                ><i class="right icon-sort-down"></i></span>

            
            <div                class='bottomBit'                                                                ></div>

            </div>

                        <div                class='item'                                id='reporting'                                >            <span                class='action'                                id='ReportingSectionButton'                                >            <span                class='icon'                                                DisplayName="Patient"                >            <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon icofont-chart-histogram icofont'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

            </span>

            
            <span                class='description'                                                                >Reporting</span>

            </span>

                            <script type="text/javascript">
                    var ele = $('#reporting .action'); ele.off('click').off('click').on('click', function() {
                            module('reporting');$('#mainmenu .item').removeClass('selected');$('#mainmenu .item#reporting').addClass('selected');setTimeout(function(){ updateSidebarVisibility(); },100);$('.separator').removeAttr('class').addClass('separator').addClass('reporting');$('#toggleSidebarButton').removeAttr('class').addClass('display-block');return false;                        });                 </script>
                
            <div                                                                                ></div>

            
            <div                class='bottomBit'                                                                ></div>

            </div>

                        <div                class='item'                                id='admin'                                >            <span                class='action'                                id='AdminSectionButton'                                >            <span                class='icon'                                                DisplayName="Patient"                >            <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon icofont-gear icofont'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

            </span>

            
            <span                class='description'                                                                >Admin</span>

            </span>

                            <script type="text/javascript">
                    var ele = $('#admin .action'); ele.off('click').off('click').on('click', function() {
                            module('admin');$('#mainmenu .item').removeClass('selected');$('#mainmenu .item#admin').addClass('selected');setTimeout(function(){ updateSidebarVisibility(); },100);$('.separator').removeAttr('class').addClass('separator').addClass('admin');$('#toggleSidebarButton').removeAttr('class').addClass('display-block');return false;                        });                 </script>
                
            <span                class='ddmenu'                                                                ><i class="right icon-sort-down"></i></span>

            
            <div                class='bottomBit'                                                                ></div>

            </div>

                        <div                class='item'                                id='help'                                >            <span                class='action'                                id='HelpSectionButton'                                >            <span                class='icon'                                                DisplayName="Patient"                >            <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon icofont-question-circle icofont'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

            </span>

            
            <span                class='description'                                                                >Help</span>

            </span>

                            <script type="text/javascript">
                    var ele = $('#help .action'); ele.off('click').off('click').on('click', function() {
                            module('help');$('#mainmenu .item').removeClass('selected');$('#mainmenu .item#help').addClass('selected');setTimeout(function(){ updateSidebarVisibility(); },100);$('.separator').removeAttr('class').addClass('separator').addClass('help');$('#toggleSidebarButton').removeAttr('class').addClass('display-block');return false;                        });                 </script>
                
            <div                                                                                ></div>

            
            <div                class='bottomBit'                                                                ></div>

            </div>

                {% include "update-tab-activity.html" %}
                <script type="text/javascript">$('#dashboard .ddmenu').EzyContext({"url":"dashboard\/DropDownMenu","event":"mousedown","which":1,"contextClass":"menuItems dashboard","target":"#dashboard"});</script>
                <script type="text/javascript">$('#contacts .ddmenu').EzyContext({"url":"contact\/DropDownMenu","event":"mousedown","which":1,"contextClass":"menuItems contacts","target":"#contacts"});</script>
                <script type="text/javascript">$('#animals .ddmenu').EzyContext({"url":"animal\/DropDownMenu","event":"mousedown","which":1,"contextClass":"menuItems animals","target":"#animals"});</script>
                <script type="text/javascript">$('#clinical .ddmenu').EzyContext({"url":"clinical\/DropDownMenu","event":"mousedown","which":1,"contextClass":"menuItems clinical","target":"#clinical"});</script>
                <script type="text/javascript">$('#financial .ddmenu').EzyContext({"url":"financial\/DropDownMenu","event":"mousedown","which":1,"contextClass":"menuItems financial","target":"#financial"});</script>
                <script type="text/javascript">$('#reporting .ddmenu').EzyContext({"url":"reporting\/DropDownMenu","event":"mousedown","which":1,"contextClass":"menuItems reporting","target":"#reporting"});</script>
                <script type="text/javascript">$('#admin .ddmenu').EzyContext({"url":"admin\/DropDownMenu","event":"mousedown","which":1,"contextClass":"menuItems admin","target":"#admin"});</script>
                <script type="text/javascript">$('#help .ddmenu').EzyContext({"url":"help\/DropDownMenu","event":"mousedown","which":1,"contextClass":"menuItems help","target":"#help"});</script>
                <script type="text/javascript">$('.separator').addClass('dashboard');
            $('#mainmenu li a').not('.advancedfinancial,.animals,.annotation,.clinical,.contacts,.customerpanel,.documents,.financial,.quoting,.reporting,.stocksystem,.supplierintegration,.timeclock,.admin,.dashboard,.work').each(function() {this.onclick=false;}).off('click').on('click',function() {
                msg('You do not have access to this page or function.',0,'error');
            });</script>
                <script type="text/javascript">$('#panes').trigger('closeSideBar',[function(){ $('#dashboard .action').click(); }, false, false, true]);</script>
    
