            <script type="text/javascript">top.tab=1;top.theDateFormat='mm-dd-yy';</script>
    
<div id="leftpane"></div>
<script type="text/javascript">
g('pagename').innerHTML='Dashboard';
g('rtab1').innerHTML='<span><img class="timg" src="/media/images/dashboard.png" alt="Dashboard" />Dashboard<\/span>';jax('/General/OpenTabRecord','recordClass=Dashboard&amp;recordId=23&amp;tab=1','rtab1details');g('rtab1').className=g('rtab1details').className='dashboard active';
tabview('rtab',1);
sectionUpdateScroller();
</script>

{% include "update-tab-activity.html" %}
    
