{% set animal_id = request.args.get("animal_id", "") %}
{% if animal_id %}
    {% set animal = animals[animal_id | int] %}
{% endif %}

        <!-- Estimate Age -->
        <div style="float:left;width:120px;">
            <label>
                <div style="width:65px;float:right;">
                    <input type="hidden" name="animaldata_estimated" value="0" />
                    <input style="margin-top:-4px;" type="checkbox" class="radio" id="an-1-animaldata_estimated" name="animaldata_estimated" value="1"  /> Estimated
                </div>
                <div style="width:35px;float:left;"><b>Age</b></div>
                <div class="clear"></div>
            </label>
            <input style="width:120px;background-color:#E2E2E2;" id="an-1-animaldata_age" value="Not Set" type="text" onfocus="this.select();"/>
        </div>

        <!-- Date of Birth -->
        <div style="width:80px;float:right;">
            <label><b>Date of Birth</b></label>
            <input class="date" type="text" id="an-1-animaldata_dateofbirth" name="animaldata_dateofbirth_datetext" value="{% if animal_id %}{{ animal.dob_string }}{% endif %}" /><br />
        </div>

        <!-- Sex -->
        <label style="clear:both;padding-bottom:1px;"><b>Sex</b></label>
        <label class="lradio" style="padding-top:0px;"><input class="radio" type="radio" name="animaldata_sex" id="an-1-animaldata_sex1" value="1" {% if animal_id and animal.sex_name == "M" %} checked {% endif %}/>M</label>
                        <label class="lradio" style="padding-top:0px;"><input class="radio" type="radio" name="animaldata_sex" id="an-1-animaldata_sex2" value="2"  {% if animal_id and animal.sex_name == "MN" %} checked {% endif %}/>MN</label>
                        <label class="lradio" style="padding-top:0px;"><input class="radio" type="radio" name="animaldata_sex" id="an-1-animaldata_sex3" value="3" {% if animal_id and animal.sex_name == "F" %} checked {% endif %} />F</label>
                        <label class="lradio" style="padding-top:0px;"><input class="radio" type="radio" name="animaldata_sex" id="an-1-animaldata_sex4" value="4" {% if animal_id and animal.sex_name == "FS" %} checked {% endif %} />FS</label>
                        <label class="lradio" style="padding-top:0px;"><input class="radio" type="radio" name="animaldata_sex" id="an-1-animaldata_sex5" value="5"  {% if animal_id and animal.sex_name == "Unknown" %} checked {% endif %} />Unknown</label>
            
        
        <div style="clear: both"></div>

        <!-- Desex Date -->
        <div id="dateDesexedField1" style="display:none;">
            <label>Date Desexed</label>
            <input class="date" type="text" style="width:193px;" id="animaldata_datedesexed_datetext1" name="animaldata_datedesexed_datetext" value="" />
        </div>

        <script type="text/javascript">
            var timeout;

            $(function(){
                refreshEquineGender();
                calculateAgeString();
            });

            $('input[id^=an-1-animaldata_sex], input#an-1-animaldata_dateofbirth').change(function() {
                refreshEquineGender();
            });


            $('#an-1-animaldata_age').off('keyup').on('keyup', function() {
                clearTimeout(timeout);
                timeout = setTimeout(function() {
                    jaxnew('core/main/get.php', {
                        args: 'action=animaldob&amp;tab=1&amp;age=' + $('#an-1-animaldata_age').val() + '&species=' + $('#speciesDropdown1 [name=animaldata_species]').val(),
                        noblock: true
                    });
                }, 100);
            });

            $('#an-1-animaldata_dateofbirth').off('change').on('change',function(){
                refreshEquineGender();
                calculateAgeString();
                $('#an-1-animaldata_estimated').removeAttr("checked");
            });
            $('#an-1-animaldata_dateofbirth').ezyDatePicker({yearRange:"-20:+0", maxDate:new Date()});

            $('#tabsarea').css('visibility', 'visible');
            $('#toggleSidebarButtonVisible').css('visibility', 'visible');
            $('#animaldata_datedesexed_datetext1').ezyDatePicker({yearRange:"-20:+0"});
            $('input[name=animaldata_sex]').change(function(){
                if($(this).prop("checked") && ($(this).val() == 2 || $(this).val() == 4)) {
                    $('#dateDesexedField1').show();
                } else {
                    $('#dateDesexedField1').hide();
                }
            });
            $('#an-1-animaldata_estimated').change();

            //Refresh the Equine Gender display [ Colt | Stallion | Mare | ... ]
            function refreshEquineGender(){
                jaxnew('animal/CalculateEquineAgeGender',
                    {
                        target : 'equineGenderDiv1',
                        args : {
                            animal  : 0,
                            species : $('#speciesDropdown1 [name=animaldata_species]').val(),
                            gender  : $('input[id^=an-1-animaldata_sex]:checked').val(),
                            age     : $('input#an-1-animaldata_dateofbirth').val(),
                            getTab  : 1                        }
                    });
            }

            //Recalculate animal age, also depending on species
            function calculateAgeString(){
                jaxnew('modules/animals/animal/get/calculateAnimalAgeString.php',
                    {
                        args : getPostWithinString('#speciesDropdown1') + 'ageField=%23an-1-animaldata_age&amp;animal_id=&amp;tab=1&amp;dateOfBirth='+$('#an-1-animaldata_dateofbirth').val(),'noblock':true
                    });
            }
        </script>
        {% include "update-tab-activity.html" %}
    
