<table cellspacing="0" id="Table_7d79a1ba5df569e21541b03c06f14f12-1" style="width:100%;" class="paginatedTable ">
                        <thead>
                <tr style="min-height:22px;background-color:#A0A0A0;color:#FFF;" >
                    <th title="Icon" class="534668f92dbb8817c55a804d7a6d615a1" style="text-align:left;vertical-align:top;overflow:hidden;padding:4px 0 0 2px;min-height:22px;background-color:#A0A0A0;color:#FFF;">
                        <div style="height:100%;" class="">
                <div class="orderClickContent" style="padding:2px;min-height:17px;float:left;">                </div>                            </div>
        </th>
                <th title="Name" class="be69fee27a0d7b3061780823e9d87f661" style="text-align:left;vertical-align:top;overflow:hidden;padding:4px 0 0 2px;min-height:22px;background-color:#A0A0A0;color:#FFF;cursor:pointer;">
                        <div style="height:100%;" class="">
                <div class="orderClickContent" style="padding:2px;min-height:17px;float:left;">Name                </div>                            </div>
        </th>
                    <script type="text/javascript">
                $('#Container_7d79a1ba5df569e21541b03c06f14f12-1 th.be69fee27a0d7b3061780823e9d87f661 .orderClickContent').off( 'click' ).on( 'click' , function(){
                    top.refresh_jax('#Container_7d79a1ba5df569e21541b03c06f14f12-1',{setOptions:'eyJRdWVyeSI6eyJPcmRlciI6eyJOYW1lIjoiQVNDIn19fQ%3D%3D'});
                    
                                    } );
            </script>
                <th title="Size" class="df37a0af404a388194b1248a6cd7ba661" style="text-align:left;vertical-align:top;overflow:hidden;padding:4px 0 0 2px;min-height:22px;background-color:#A0A0A0;color:#FFF;cursor:pointer;">
                        <div style="height:100%;" class="">
                <div class="orderClickContent" style="padding:2px;min-height:17px;float:left;">Size                </div>                            </div>
        </th>
                    <script type="text/javascript">
                $('#Container_7d79a1ba5df569e21541b03c06f14f12-1 th.df37a0af404a388194b1248a6cd7ba661 .orderClickContent').off( 'click' ).on( 'click' , function(){
                    top.refresh_jax('#Container_7d79a1ba5df569e21541b03c06f14f12-1',{setOptions:'eyJRdWVyeSI6eyJPcmRlciI6eyJTaXplIjoiQVNDIn19fQ%3D%3D'});
                    
                                    } );
            </script>
                <th title="Category" class="ec86ba130d874e5d162f3fca183c10341" style="text-align:left;vertical-align:top;overflow:hidden;padding:4px 0 0 2px;min-height:22px;background-color:#A0A0A0;color:#FFF;cursor:pointer;">
                        <div style="height:100%;" class="">
                <div class="orderClickContent" style="padding:2px;min-height:17px;float:left;">Category                </div>                            </div>
        </th>
                    <script type="text/javascript">
                $('#Container_7d79a1ba5df569e21541b03c06f14f12-1 th.ec86ba130d874e5d162f3fca183c10341 .orderClickContent').off( 'click' ).on( 'click' , function(){
                    top.refresh_jax('#Container_7d79a1ba5df569e21541b03c06f14f12-1',{setOptions:'eyJRdWVyeSI6eyJPcmRlciI6eyJDYXRlZ29yeSI6IkFTQyJ9fX0%3D'});
                    
                                    } );
            </script>
                <th title="Created" class="01c1e5464831b849c0fd2b6702ac93dc1" style="text-align:left;vertical-align:top;overflow:hidden;padding:4px 0 0 2px;min-height:22px;background-color:#A0A0A0;color:#FFF;cursor:pointer;">
                        <div style="height:100%;" class="">
                <div class="orderClickContent" style="padding:2px;min-height:17px;float:left;">Created                </div><img style="float:right;top:0px;" src="/media/images/down.gif" />                            </div>
        </th>
                    <script type="text/javascript">
                $('#Container_7d79a1ba5df569e21541b03c06f14f12-1 th.01c1e5464831b849c0fd2b6702ac93dc1 .orderClickContent').off( 'click' ).on( 'click' , function(){
                    top.refresh_jax('#Container_7d79a1ba5df569e21541b03c06f14f12-1',{setOptions:'eyJRdWVyeSI6eyJPcmRlciI6eyJDcmVhdGVkIjoiTm9uZSJ9fX0%3D'});
                    
                                    } );
            </script>
                <th title="Notes" class="17837769166abd880988785e77dbb1021" style="text-align:left;vertical-align:top;overflow:hidden;padding:4px 0 0 2px;min-height:22px;background-color:#A0A0A0;color:#FFF;cursor:pointer;">
                        <div style="height:100%;" class="">
                <div class="orderClickContent" style="padding:2px;min-height:17px;float:left;">Notes                </div>                            </div>
        </th>
                    <script type="text/javascript">
                $('#Container_7d79a1ba5df569e21541b03c06f14f12-1 th.17837769166abd880988785e77dbb1021 .orderClickContent').off( 'click' ).on( 'click' , function(){
                    top.refresh_jax('#Container_7d79a1ba5df569e21541b03c06f14f12-1',{setOptions:'eyJRdWVyeSI6eyJPcmRlciI6eyJOb3RlcyI6IkFTQyJ9fX0%3D'});
                    
                                    } );
            </script>
                <th title="Options" class="bad17617f0b5e22cde78af29e3203eaa1" style="text-align:left;vertical-align:top;overflow:hidden;padding:4px 0 0 2px;min-height:22px;background-color:#A0A0A0;color:#FFF;">
                        <div style="height:100%;" class="">
                <div class="orderClickContent" style="padding:2px;min-height:17px;float:left;">                </div>                            </div>
        </th>
                <th title="Main  Image" class="06c37e2547620d4e9255430aeaa96f5b1" style="text-align:left;vertical-align:top;overflow:hidden;padding:4px 0 0 2px;min-height:22px;background-color:#A0A0A0;color:#FFF;">
                        <div style="height:100%;" class="">
                <div class="orderClickContent" style="padding:2px;min-height:17px;float:left;">Main  Image                </div>                            </div>
        </th>
                  
                </tr>
            </thead>
        <div style="font-size:9px;float:right;margin-bottom:-22px;width:20px;position:relative;top:0;right:5px;max-height:16px;">
        <div class="buttonHolder clickable compactButton buttonHolder" style="float: right; " >
            
            <a id="disablededitContainer_7d79a1ba5df569e21541b03c06f14f12-11-fb6c593e69e7f53771f3c010fb5e0d7b027c9e2c" title="Edit" style="display:none;" class="disabledButton  disabledButton1 1" href="#">             <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon button-edit'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

            
            </a>
            <a id="editContainer_7d79a1ba5df569e21541b03c06f14f12-11-fb6c593e69e7f53771f3c010fb5e0d7b027c9e2c" title="Edit"  class="clickable  1" href="#"
            onclick="
                var me = document.getElementById('editContainer_7d79a1ba5df569e21541b03c06f14f12-11-fb6c593e69e7f53771f3c010fb5e0d7b027c9e2c'); 
                var disabledMe = document.getElementById('disablededitContainer_7d79a1ba5df569e21541b03c06f14f12-11-fb6c593e69e7f53771f3c010fb5e0d7b027c9e2c'); 
                me.style.display='none'; 
                disabledMe.style.display='block'; 
                setTimeout(function() { 
                    me.style.display='block'; 
                    disabledMe.style.display='none'; 
                }, 1000);
            ">
                
                      
                            <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon button-edit'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

            
            </a>
        </div></div><tbody>                        
            {% for attachment in attachments %}
<tr
                ondblclick=""
                class="FileRecord43982 odd dblClickOpen " style="min-height:32px;"
                data-tab="1"  data-record-class="File" data-record-id="43982" data-record-clinicid="vsvhwvc" data-record-qtip-class="File" data-record-qtip-id="43982" data-open-as="Popup"data-passed-Args='{&quot;refreshElements&quot;:{&quot;0&quot;:&quot;#Container_7d79a1ba5df569e21541b03c06f14f12-1&quot;}}'                >
                <td  colspan="1" class="534668f92dbb8817c55a804d7a6d615a1 " style="overflow-x:hidden;overflow-y:visible;">
            <div class="" style="">
                <div style="margin:2px;overflow-y:visible;"><span style="display:none;">pdf.png</span>
                <img src="/media/images/pdf.png" alt="pdf.png" /></div></div>
                </td>  
                <td  colspan="1" class="be69fee27a0d7b3061780823e9d87f661 " style="overflow-x:hidden;overflow-y:visible;">
            <div class="" style="">
                <div style="margin:2px;overflow-y:visible;"><a style="cursor:pointer;text-decoration:underline;" target="_blank" href="{{ attachment }}" >{{ attachment }}</a></div></div>
                </td>  
                <td  colspan="1" class="df37a0af404a388194b1248a6cd7ba661 " style="overflow-x:hidden;overflow-y:visible;">
            <div class="" style="">
                <div style="margin:2px;overflow-y:visible;">87.65 KB</div></div>
                </td>  
                <td  colspan="1" class="ec86ba130d874e5d162f3fca183c10341 " style="overflow-x:hidden;overflow-y:visible;">
            <div class="" style="">
                <div style="margin:2px;overflow-y:visible;"></div></div>
                </td>  
                <td  colspan="1" class="01c1e5464831b849c0fd2b6702ac93dc1 " style="overflow-x:hidden;overflow-y:visible;">
            <div class="" style="">
                <div style="margin:2px;overflow-y:visible;"><span class="hidden">1519565487</span><i>02-25-2018 5:31:27am</i><br /><a href="#" onclick="top.formBox('/General/OpenPopupRecord','refreshElements=&memodata_fromuser=53&memo_user=53&memo_time=1520478901&memodata_user=53&memodata_time=1520478901&memodata_subject={{ attachment }}&recordClass=Memo&recordId=&clinicId=vsvhwvc&tab=1&forclass=Animal&&amp;',false,true);return false;">System</a></div></div>
                </td>  
                <td  colspan="1" class="17837769166abd880988785e77dbb1021 " style="overflow-x:hidden;overflow-y:visible;min-width:200px;max-width:200px;">
            <div class="" style="">
                <div style="margin:2px;overflow-y:visible;">Imported From IDEXX</div></div>
                </td>  
                <td  colspan="1" class="bad17617f0b5e22cde78af29e3203eaa1 " style="overflow-x:hidden;overflow-y:visible;">
            <div class="" style="">
                <div style="margin:2px;overflow-y:visible;">
            <span class id='signAttachment-43982-1' alt='Sign Attachment'>
                            <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon icon-write black'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

            
            </span>
            <script type='text/javascript'>
                $('#signAttachment-43982-1').off('click').on('click', function() {
                    formBox('modules/pdf/popup/form.php', 'tab=1&attach_to_id=14725&attach_to_class=Animal&file_id=43982');
                });
            </script>
            <span class="button-remove" style='float: right;' id="deleteAttachment-44329-1" alt="Remove Attachment" />
            <script type="text/javascript">
                $('#deleteAttachment-44329-1').off('click').on('click', function() {
                    top.jax('File/DeleteAttachment','tab=1&amp;file_id=43982&fortype=Consult&forid=89556',false,function(){refresh_jax('.attachmentsList');});
                    $('.delete-43982-1').val('1');
                $('.attachmentRow-1-43982').remove();
                });
            </script>
            <span class='clear'></span>
        </div></div>
                </td>  
                <td  colspan="1" class="06c37e2547620d4e9255430aeaa96f5b1 " style="overflow-x:hidden;overflow-y:visible;">
            <div class="" style="">
                <div style="margin:2px;overflow-y:visible;"><input type="checkbox" class="radio" readonly /></div></div>
                </td>  
                    </tr>
            {% endfor %}
                    </tbody>            <tfoot>
                <tr>
                    <td valign="bottom" colspan="8" 
                        style="height:20px;">
                        <div style="text-align:center;">
                                                        <div style="float:right;width:130px;">
                                <div class="previousPage" style="float:left;width:20px;visibility:hidden;">
                                    <img src="/media/images/back-32.png" style="max-height:16px;max-width:16px;" />
                                    <script type="text/javascript">
                                        $('#Container_7d79a1ba5df569e21541b03c06f14f12-1 div.previousPage').off( 'click' ).on( 'click' , function(){
                                            top.refresh_jax('#Container_7d79a1ba5df569e21541b03c06f14f12-1', { setOptions : 'eyJQYWdlTnVtIjowfQ%3D%3D' } );
                                        } );
                                    </script>
                                </div>

                                <div style="float:left;padding-top:3px;margin:auto;width:90px;">
                                    <span class="pageItems">{{ attachment_start + 1 }} - {{ attachment_start + attachment_items }} of {{ all_attachments | length }}</span>
                                </div>

                                <div class="nextPage" style="float:right;width:20px;">
                                    <img src="/media/images/next-32.png" style="max-height:16px;max-width:16px;" />
                                    <script type="text/javascript">
                                        $('#Container_7d79a1ba5df569e21541b03c06f14f12-1 div.nextPage').off( 'click' ).on( 'click' , function(){
                                            top.refresh_jax('#Container_7d79a1ba5df569e21541b03c06f14f12-1', { setOptions : 'eyJQYWdlTnVtIjoyfQ%3D%3D' } );
                                        } );
                                    </script>
                                </div>
                                    <div class="clear"><!-- --></div>
                            </div>
                                                        <div>
                                <div style="float:left;margin-right:15px;">
                                    TODO: fix page selection (doesn't matter though, the API works)
                                    Page:<select class="pageSelection">
                                                                            <option selected class="tablePageNum-1" value="eyJQYWdlTnVtIjoxfQ%3D%3D" >1</option>
                                                                            <option  class="tablePageNum-2" value="eyJQYWdlTnVtIjoyfQ%3D%3D" >2</option>
                                                                            <option  class="tablePageNum-3" value="eyJQYWdlTnVtIjozfQ%3D%3D" >3</option>
                                                                            <option  class="tablePageNum-4" value="eyJQYWdlTnVtIjo0fQ%3D%3D" >4</option>
                                                                            <option  class="tablePageNum-5" value="eyJQYWdlTnVtIjo1fQ%3D%3D" >5</option>
                                                                            <option  class="tablePageNum-6" value="eyJQYWdlTnVtIjo2fQ%3D%3D" >6</option>
                                    </select> of 6                                    <script type="text/javascript">
                                        $('#Container_7d79a1ba5df569e21541b03c06f14f12-1 select.pageSelection').off( 'change' ).on( 'change' , function(){
                                            top.refresh_jax('#Container_7d79a1ba5df569e21541b03c06f14f12-1', { setOptions : this.value } );
                                        } );
                                    </script>
                                    <div class="clear"><!-- --></div>
                                </div>
                                                                <div style="float:left">
                                    <select class="itemsPerPageSelection">
                                                                            <option  class="tablePageNum-7" value="eyJJdGVtc1BlclBhZ2UiOjV9" >5</option>
                                                                            <option selected class="tablePageNum-7" value="eyJJdGVtc1BlclBhZ2UiOjEwfQ%3D%3D" >10</option>
                                                                            <option  class="tablePageNum-7" value="eyJJdGVtc1BlclBhZ2UiOjI1fQ%3D%3D" >25</option>
                                                                            <option  class="tablePageNum-7" value="eyJJdGVtc1BlclBhZ2UiOjUwfQ%3D%3D" >50</option>
                                                                            <option  class="tablePageNum-7" value="eyJJdGVtc1BlclBhZ2UiOjEwMH0%3D" >100</option>
                                    </select> Items/Page                                    <script type="text/javascript">
                                        $('#Container_7d79a1ba5df569e21541b03c06f14f12-1 select.itemsPerPageSelection').off( 'change' ).on( 'change' , function(){
                                            var config = {}; 
                                            config.ItemsPerPage = $(this).children('option:selected').text();
                                            top.refresh_jax('#Container_7d79a1ba5df569e21541b03c06f14f12-1', { setOptions : this.value,UpdateConfig:JSON.stringify({configClass:'AnimalFilePaginatedTable',config:config}) } );
                                        } );
                                    </script>
                                    <div class="clear"><!-- --></div>
                                </div>
                                                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>            </table>
    <script>$('.7d79a1ba5df569e21541b03c06f14f12-1-counter').html('&nbsp;{{ all_attachments | length }}&nbsp;');</script>            </div>
                        <script type="text/javascript">
                top.jaxnew_Attach('/General/TableContent',
                    {
                        'args':'tab=1&amp;options={{ next_page | urlencode }}',
                        'target':'Container_7d79a1ba5df569e21541b03c06f14f12-1',
                        'post':true
                    }
                );
            </script>

