<div class="inputSection " style="width:550px; max-width: 800px;">
            <div class="inputSectionTitle" >
                                <div class="addButton clickable" id="AddComment6396db9d06838bb9847e1695071d24201" >
                                <div                                                                class="iconWraper"                >            <div                class='iconContainer'                                                                >            <i                class='icon icon-plus8'                                                                ></i>

            </div>

            
            <div                class='clear'                                                                ></div>

            </div>

                                <div class="clear"></div>                        
                </div>
                <script type="text/javascript">
                    $('#AddComment6396db9d06838bb9847e1695071d24201').parent('.inputSectionTitle').find('.addButton').off( 'click' ).on( 'click' , function() { 
                        top.formBox('/General/OpenPopupRecord','refreshElements[]=%23commentsList120-25327-1&comment_user={{ user_id }}&commentdata_user={{ user_id }}&commentdata_active=1&commentdata_accesspermissions=777&commentdata_type=120&commentdata_typeid=25327&comment_time=1520051726&commentdata_time=1520051726&recordClass=Comment&recordId=&clinicId=redacted&tab=1&forclass=Animal&&amp;',false,true);                    } );
                </script> 
                                Comments (<span class="98a79d4480d11f6579d7ba42011e48ab-1-counter">&nbsp;0&nbsp;</span>)
                                <div class="clear"><!-- --></div>
            </div>  
            <div class="inputSectionContent" style="">
                            <div id="commentsList120-25327-1" 
                class="commentsList CommentList"
                style="">
                <h4 style="margin-top:0px;">No Results</h4><script>$('.98a79d4480d11f6579d7ba42011e48ab-1-counter').html('&nbsp;0&nbsp;');</script>            </div>
                            </div>  
        </div>
        {% include "update-tab-activity.html" %}
    
